$--color-route: rgba(138, 156, 192, 1);

$--color-route-active: rgba(255, 255, 255, 1);

$--color-num-text: rgba(0, 157, 255, 1);

$--color-unit-text: rgba(0, 157, 255, 1);

$--color-default: rgba(255, 255, 255, 1);

$--color-title-default: rgba(255, 255, 255, 0.9);

$--color-gradient-border: linear-gradient(rgba(200, 83, 185, 1), rgba(0, 151, 255, 0.3), rgba(0, 151, 255, 0.3));
