@font-face {
    font-display: swap;
    font-weight: normal;
    font-style: normal;
    font-family: 'YouSheBiaoTiHei';
    src: url('YouSheBiaoTiHei.ttf');
}


@font-face {
    font-display: swap;
    font-weight: normal;
    font-style: normal;
    font-family: 'Alternate-Bold';
    src: url('Alternate-Bold.ttf');
}
